<div style="width: 300px" (click)="updateSelectedStation()">
  <p-listbox
    [options]="(stations$ | async)!"
    [(ngModel)]="selectedStation"
    optionLabel="location"
  >
    <ng-template let-station pTemplate="item">
      <div>
        <div>{{ station.location }}</div>
        <div>{{ station.id }}</div>
        <div>{{ station.longitude }}</div>
        <div>{{ station.latitude }}</div>
        <div>{{ station.asl }}</div>
        <div>{{ station.distance }}</div>
      </div>
    </ng-template>
  </p-listbox>
</div>
