<div (click)="updateSelectedStation()">
  <p-listbox
    [options]="stations"
    [(ngModel)]="selectedStation"
    optionLabel="id"
    [listStyle]="{ 'max-height': listHeight }"
  >
    <ng-template let-station pTemplate="item">
      <div>
        <p style="font-weight: bold">
          {{ station.location }}
        </p>
        <div style="display: grid">
          <p>{{ station?.distance | number : "1.1-1" }} km entfernt</p>
        </div>
      </div>
    </ng-template>
  </p-listbox>
</div>
