html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(73, 80, 87);
}

body {
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  width: 0;
  height: 100%;
  transition: width 0.5s ease-out;
  overflow: hidden;
  display: inline-block;
}

.sidebar.open {
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-content {
  flex: 1;
  height: 100%;
}

.loading-container {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
}

.loading::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid rgb(242, 242, 242);
  border-top-color: rgb(127, 127, 127);
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
