html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(73, 80, 87);
}

body {
  max-width: 80%;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

p {
  display: block;
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.p-listbox .p-listbox-list .p-listbox-item {
  padding: 0.55rem 1.25rem;
}

.p-button{
  background: #757575;
  border: 1px solid #757575;
}

.p-button.p-button-icon-only {
  width: 2rem;
}

.p-inputnumber {
  width: 80px;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.75rem;
}

.p-inputtext.p-inputtext-sm {
  font-size: 1rem;
  padding: 0.7rem;
}

.p-inputtext {
  width: 100%;
}

.p-dropdown {
  width: 100%;
  margin-bottom: 5px;
}

.p-dialog .p-dialog-header {
  background-color: #d9d9d9;
}

.p-dialog .p-dialog-content {
  padding: 0;
  padding-bottom: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent black */
  z-index: 9999; /* make sure it's on top of other elements */
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.p-button.p-button-lg .p-button-icon {
  font-size: 2.25rem;
}

.p-button.p-button-text {
  background-color: transparent;
  color: #646464;
  border-color: transparent;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: white;
}

.p-card .p-card-body {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.p-card .p-card-content {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.sidebar {
  width: 0;
  height: 100%;
  transition: width 0.5s ease-out;
  overflow: hidden;
  display: inline-block;
}

.sidebar.open {
  width: 300px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.container.openGrid {
  grid-template-columns: 3fr 1fr 1fr;
}

.loading-container {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
}

.loading::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid rgb(242, 242, 242);
  border-top-color: rgb(127, 127, 127);
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
