<div
  (keyup.enter)="searchForStations()"
  style="display: grid; grid-template-columns: 1fr 1px 1fr; max-width: 1000px"
>
  <div style="height: 100%; padding: 40px; padding-top: 20px">
    <h2 style="text-align: center">Suchkriterien</h2>
    <input
      style="margin-bottom: 5px"
      class="p-inputtext-sm"
      type="text"
      pInputText
      placeholder="Geografische Breite"
      [(ngModel)]="searchInput.latitude"
    />
    <input
      style="margin-bottom: 30px"
      class="p-inputtext-sm"
      type="text"
      pInputText
      placeholder="Geografische Länge"
      [(ngModel)]="searchInput.longitude"
    />
    <p-dropdown
      style="width: 100%"
      [options]="countries"
      [(ngModel)]="country"
      optionLabel="name"
      [showClear]="true"
      placeholder="Länderfilter"
    ></p-dropdown>
    <div
      style="
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        margin-bottom: 30px;
      "
    >
      <input
        class="p-inputtext-sm"
        type="text"
        pInputText
        placeholder="Jahr von"
        [(ngModel)]="searchInput.startYear"
      />
      <pre style="font-weight: bolder">   -   </pre>
      <input
        class="p-inputtext-sm"
        type="text"
        pInputText
        placeholder="Jahr bis"
        [(ngModel)]="searchInput.endYear"
      />
    </div>

    <p style="margin-bottom: 20px">
      Anpassung Anzahl anzuzeigender Stationen in der Nähe/Vorschläge:
    </p>
    <div style="width: 100%;">
      <p-inputNumber
        style="float: left"
        [(ngModel)]="searchInput.count"
        mode="decimal"
        [showButtons]="true"
        inputId="minmax-buttons"
        [min]="0"
        [max]="100"
      >
      </p-inputNumber>
      <button
        style="float: right; margin-bottom: 10px"
        (click)="searchForStations()"
        pButton
        pRipple
        type="button"
        label="Suche"
        class="p-button-outlined p-button-secondary"
      ></button>
    </div>
    <!-- <button (click)="searchForStations()">Suche</button> -->
  </div>
  <div
    style="
      height: 100%;
      width: 1px;
      background-color: black;
      margin-top: 20px;
      margin-bottom: 200px;
    "
  ></div>
  <div style="height: 100%; padding: 40px; padding-top: 20px">
    <h2 style="text-align: center">Stationen in der Nähe</h2>
    <app-station-list></app-station-list>
    <!-- <button
      (click)="closeModal()"
      pButton
      pRipple
      type="button"
      label="Bestätigen"
      class="p-button-outlined p-button-secondary"
      style="margin-top: 10px; float: right"
    ></button> -->
  </div>
</div>
